/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Feb, 2016, 2:39:45 PM
    Author     : rtcamp
*/

/* main header */
#masthead {
	background: #ffffff none repeat scroll 0 0;
	font-family: 'Roboto', sans-serif;
}

#masthead>div:nth-of-type(1){
	margin-left: 6.86%;
}

/* advertisement on header */
.advertisement {
	background: #EEEEEE;
	height: 100px;
	text-align: center;
	margin: 0px;
}

/* navigation menu */
.navigation {
	display: inline-block;
	position: relative;
	background-color: #8fc533;
	margin: 0px;
	padding: 10px 0 5px 0;
}

/* links on navigation menu */
.navigation a.nav-links {
	color: #ffffff;
	font-size: 1.4rem;
	text-decoration: none;
	padding-right: 3%;
	font-weight: bold;
}

/* search icon */
.search-icon{
	float: right;
	margin: 0px 10% 5px 0;
	width: 15px;
	height: 15px;
}
