/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Feb, 2016, 2:39:45 PM
    Author     : rtcamp
*/



#masthead {
	background: #ffffff none repeat scroll 0 0;
}

.site-title {
	text-align: right;
}

.site-title a {
	font-size:60px;
	text-decoration: none;
	font-family: 'Great Vibes', cursive;
	color: #153B79;
}

.advertisement {
	background: #EEEEEE;
	height: 100px;
	text-align: center;
}

.navigation {
	display: inline-block;
	position: relative;
	background-color: #8fc533;
	margin: 0;
	padding: 10px 0 5px 0;
}
.navigation a.nav-links {
	color: #ffffff;
	font-size: 15px;
	text-decoration: none;
	padding-right: 3%;
	font-weight: bold;
}

.search-icon{
	float: right;
	margin: 0px 8.50% 5px 0;
	width: 15px;
	height: 15px;
}
