/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 Feb, 2016, 4:28:31 PM
    Author     : rtcamp
*/

/* class for footer */
.site-footer{
	margin: 0px;
}

/* contact info part */
.contact-info{
	background-color: #2D3E50;
	height: auto;
	margin: 0px;
	padding-top: 40px;
	color: #7C92A9;
	display: inline-block;
	position: relative;
	color: #FFFFFF;
}

/* website info */
.site-info{
	height: auto;
	background-color: #0F1821;
	margin: 0px;
}
/* copyright details */
.copyright-info{
	padding-top: 15px;
	float: right;
}

/* rtCamp link */
.site-info > .copyright-info span a.rtCamp-link{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Great Vibes', cursive;
	font-weight: normal;
	color: #FFFFFF;
}

/* footer menu */
.contact-info > .footer-menu{
	margin-left: 5%;
	display: block;
}

/* footer menu links */
.footer-menu a.nav-links {
	color: #7C92A9;
	font-size: 12px;
	text-decoration: none;
	padding:0px 3% 10px 0px;
	display: block;
	font-weight: bold;
}

/* contact us form */
.contact-info .contact-us{
	display: block;
	position: relative;
}

/* contact details */
.contact-info .contact-us .contact-details{
	font-size: 14px;
	text-align: justify;
	margin-top: -10px;
	color: #7C92A9;
}

/* title of contact information */
.contact-info-title{
	color: #FFFFFF;
	font-weight: bold;
	clear: both;
}

/* contact details */
.contact-number, .contact-email ,.contact-address{
	color: #7C92A9;
	display: inline-block;
	position: relative;
	clear: both;
	font-size: 14px;
}

/* phone number */
.contact-number a{
	color: #7C92A9;
	text-decoration: none;
}

/* email id and address */
.contact-email p, .contact-address{
	clear: both;
	display: inline-block;
	position: relative;
	margin: 0px;
}

/* follow newletter div */
.contact-info > .follow-newletter{
	display: block;
	position: relative;
	color: #7C92A9;
}

/* newsletter div */
.newsletter{
  margin-top:10%;	
}

/* newsletter data */
.newsletter p:nth-of-type(2){
	font-size: 12px;
}

/* emailid form */
.email-form{
	clear: both;
	display: inline;
	position: relative;
}

/* email id input box */
.email-form input{
	display: inline-block;
	font-size: 12px;
	padding: 10px;
	width: 70%;
}

/* email form div */
.email-form div{
	display: inline-block;
	clear: both;
}